{% extends 'base.html.twig' %} 
{% block title %}Fiche d'un role{% endblock %}

{% block body %}
<nav><a href="{{ path('app_roles') }}">Retour à l'index</a></nav>
    <h1>{{ role.role|capitalize }}</h1>
    
{% endblock %}
