{% extends 'base.html.twig' %} 
{% block title %}Fiche d'une localité{% endblock %}

{% block body %}
<nav><a href="{{ path('app_locality') }}">Retour à l'index</a></nav>
    <h1>{{ localitie.postalcode }} {{ localitie.locality }}</h1>
	   
{% endblock %}
