{% extends 'base.html.twig' %} 
{% block title %}Fiche d'une localité{% endblock %}

{% block body %}
<nav><a href="{{ path('app_locality') }}">Retour à l'index</a></nav>
   <h1>{{ localitie.postalCode }} {{ localitie.locality|capitalize }}</h1> 
    
    <ul>

    {% for location in localitie.locations %} 
 
        <li>{{ location.designation }}</li>
    {% endfor %}
    </ul>

	   
{% endblock %}
