{% extends 'base.html.twig' %}
{% block title %}Fiche d'un type{% endblock %}

{% block body %}
 <nav><a href="{{ path('app_types') }}">Retour à l'index</a></nav>
    <h1>{{ type.type|capitalize }}</h1>
       <h2>Liste des artistes</h2>
    <ul>
    {% for artistType in type.artists %} 
 
        <li>{{ artistType.artist.firstname }} {{ artistType.artist.lastname }}</li>
    {% endfor %}
    </ul>

{% endblock %}
